/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	background-color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* ------------------------------------------------------------------------------------------- */
/* 	The Above Information Is Default CSS. The Below Information Is MY CSS 					   */
/* ------------------------------------------------------------------------------------------- */

.container {
	width: 80%;
	margin: 30px 10% ;
	color: palegoldenrod;
}
html h4 {
	font-size: 1.25em;
}

.container header {
	display: flex; 
	justify-content: space-evenly;
	align-content: center;
    align-items: center;
}
.container header nav {
	display: flex;
	justify-content: space-between; 
	align-content: center; 
	width: 55%;
}

.container header nav a {
	text-decoration: none;
	color: grey;
  }


/* ------------------------------------------------------------------------------------------- */
/* 	The Above Information Is Header & NavBar Elements. 										   */
/* ------------------------------------------------------------------------------------------- */


.container .firstHalf {
	border-top: 1px solid darkorchid;
	border-bottom: 1px solid darkorchid;
	padding: 0% 0% 10%;
	display: flex;
	align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 10% 10% 10%;
}

.container .firstSection button {
	background: black;
	color: palegoldenrod;
	border: 1px solid darkorchid;
	width: 150px;
	height: 30px;
	font-size: 1em;
	cursor: pointer;
}

.container .topHalf {
	border-bottom: 1px solid darkorchid;
	padding: 0% 0% 10%;
	display: flex;
	align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 10% 10% 10%;

}

.container .featuresSection {
	display: flex;
	flex-direction: column;
	width: 49.5%;
	padding: 50px 0;
}

/* ------------------------------------------------------------------------------------------- */
/* 	The Above Information Is The Body Text Content											   */
/* ------------------------------------------------------------------------------------------- */


.container footer .copyrightSection {
	text-align: center;
	padding: 50px 0;
}

.container .servicesSection2 h2 {
	font-size: 500px;
}

.container .boxes .uiux {
	width: 45%;
	margin-bottom: 30px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

@media(max-width: 800px) {
    html {
        margin: 10%;
    }
    
    .container header .logo {
        margin: 5%;
    }
    .container header {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .container header nav {
        margin-top: 5%;
        width: 100%;
        margin: 0;
    }

    .container .firstHalf {
        width: 100%;
        margin: 0;
	}
	
	.container .topHalf {
        width: 100%;
        margin: 0;
	}
	
    .container .image1{
        display: none;
    }

    .container .firstSection {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container .topSection {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }	

    .container .middle-img {
        width: 100%;
        height: auto;
    }

    .container .featAbout {
        width: 100%;
        margin: 0;
    }

    .container .threeSections {
        width: 100%;
        margin: 0;
    }
    
    .container footer {
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 500px) {
    .container nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container nav a {
        border-bottom: 1px solid grey;
        width: 100%; 
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    .container .firstHalf {
        padding: 10% 0;
	}
	
	.container .topHalf {
        padding: 10% 0;
    }

    .container .featAbout {
        flex-direction: column;
    }

    .container .featuresSection {
        width: 100%;
    }

    .container .aboutSection {
        width: 100%;
    }

    .container .threeSections {
        flex-direction: column;
    }

    .container .servicesSection {
        width: 100%;
    }

    .container .productSection {
        width: 100%;
    }

    .container .visionSection {
        width: 100%;
    }
}